[submodule "src/onboarding-frontend"]
	path = src/onboarding-frontend
	url = git@github.com:WilliamsStudentsOnline/onboarding-frontend.git
[submodule "src/onboarding-backend"]
	path = src/onboarding-backend
	url = git@github.com:WilliamsStudentsOnline/onboarding-backend.git
[submodule "src/wso-go"]
	path = src/wso-go
	url = git@github.com:WilliamsStudentsOnline/wso-go.git
